<%= link_to "All Flavors", "/flavors" %>
<%= link_to "All Shops", "/shops" %>

<h3><%= @flavor.flavor %></h3>
<p>Shop: <%= @flavor.shop_id %></p>
<p>Nut free: <%= @flavor.nut_free %></p>
<p>Calories: <%= @flavor.calories %></p>
<%= link_to "Update Flavor", "/flavors/#{@flavor.id}/edit" %>

