<%= link_to "Flavors", "/flavors" %>
<%= link_to "Shops", "/shops" %>

<h3><%= @flavor.flavor %></h3>
<p>Shop: <%= @flavor.shop_id %></p>
<p>Nut free: <%= @flavor.nut_free %></p>
<p>Calories: <%= @flavor.calories %></p>
